@import "styles/colors";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--barlow-font), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--color-white);
  background-color: var(--color-primary);
}

a {
  font-family: var(--barlow-font);
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
